{% extends 'base.html' %}
    {% block content %}


        <div class="container py-4">
            <div class="row">
                <div class="col-md mb-4">

                    <div class="card">
                        <div class="card-header">
                             Your Information
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Username: {{ user.username }}</li>
                            <li class="list-group-item">Full Name: {{ user.get_full_name }} </li>
                            <li class="list-group-item">Phone Number: {{ user.dashboard.phone_number }}</li>
                            <li class="list-group-item">Bank Region: {{ user.dashboard.bank_region }}</li>
                            <li class="list-group-item">Account Number: {{ user.dashboard.bank_account_number }}</li>
                            <li class="list-group-item">Bank: {{ user.dashboard.bank }}</li>
                            <li class="list-group-item">Joined: {{ user.dashboard.timestamp|timesince }} ago</li>

                        </ul>
                        <div class="card-footer">
                            <a href="{% url 'core:update' %}" class="btn btn-outline-primary btn-block">Edit Information</a>
                        </div>

                    </div>

                </div>

                <div class="col-md align-self-center card bg-primary text-center card-form mx-2">
                    {% include 'order-form.html' %}

                </div>

            </div>
        </div>

        <div class="container mb-5">
            <div class="bg-light py-3">
                <table class="table">
                    <thrad>
                        <h5 class="text-center">Your Orders</h5>
                    </thrad>
                    <thead>
                        <tr>
                            <th>Sbd</th>
                            <th>Naira</th>
                            <th>Status</th>
                            <th>Posted</th>
                        </tr>
                    </thead>
                    {% for obj in user.sbdsellorder_set.all %}
                    <tbody>
                        <tr>
                            <td>{{ obj.sbd }}</td>
                            <td>{{ obj.sbd_ngn }}</td>

                            {% if obj.status == True%}
                            <td class="text-success">Processed</td>
                            {% else %}
                            <td class="text-warning">Processing</td>
                            {% endif %}

                            <td>{{ obj.timestamp|timesince }} ago</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>


    {% endblock content %}