{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {# Custom Css #}
      <link rel="stylesheet" href="{% static 'css/cover.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>


    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'core:index' %}" class="navbar-brand">xchanger</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
						<p class="nav-link"> &#x20a6; {{ naira }}</p>
					</li>

					<li class="nav-item px-2">
						<a class="nav-link"  href="tel:+2348135585366">+234-822-222-2222</a>
					</li>

                    {% if request.user.is_authenticated %}

                    <li class="nav-item dropdown px-2">
                        <button href="javascript:void(0)" class="dropdown-toggle btn btn-round btn-primary" data-toggle="dropdown" aria-expanded="false">My Account</button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-info">
                            <li class="dropdown-header">{{ user.email }}</li>
                            <li class="dropdown-item"><a href="{% url 'account_change_password' %}">Change Password</a></li>
                            <div class="dropdown-divider"></div>
                            <li class="dropdown-item"><a href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a href="#about" class="nav-link px-2" data-toggle="modal" data-target="#about">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'account_login' %}" class="nav-link px-2">Login</a>
                    </li>

                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>

    {% block content %}


    {% endblock content %}




    <footer class="footer p-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="links">
                        <ul>
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#about" data-toggle="modal" data-target="#exampleModal">
                                   About
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/xchanger" target="_blank">
                                    @xchanger
                                </a>
                            </li>
                             <li>
                                <i class="fa fa-phone"></i> <a href="tel:+2348135585366">+234-822-222-2222</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>